<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= gtmid %>');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/style.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= gtmid %>"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <h1>Form</h1>
    <section>
      <form action="/submit" method="POST">
        <% for(var i=0; i < formInput.length; i++) { %>
        <div>
          <label for="<%= formInput[i].for %>"><%= formInput[i].label %>:</label>
          <% if(formInput[i].tag == 'input') {%>
          <input type="<%= formInput[i].type %>" id="<%= formInput[i].id %>" name="<%= formInput[i].name %>" <% if(formInput[i].required) { __append('required') } %>>
          <% } else { %>
          <textarea id="<%= formInput[i].id %>" name="<%= formInput[i].name %>" rows="<%= formInput[i].rows %>" <% if(formInput[i].required) { __append('required') } %>></textarea>
          <% } %>
        </div>
        <% } %>
        <button type="submit" name="action" value="send">Submit</button>
      </form>
  </section>
  <section>
    <div class="ctn-button-link">
      <a href="https://google.com" class="button-link" target="_blank">Google</a>
    </div>
  </section>
</body>
</html>