<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/style.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <h1>Form</h1>
    <section>
      <form action="/submit" method="POST">
        <% for(var i=0; i < formInput.length; i++) { %>
        <div>
          <label for="<%= formInput[i].for %>"><%= formInput[i].label %>:</label>
          <% if(formInput[i].tag == 'input') {%>
          <input type="<%= formInput[i].type %>" id="<%= formInput[i].id %>" name="<%= formInput[i].name %>" <% if(formInput[i].required) { __append('required') } %>>
          <% } else { %>
          <textarea id="<%= formInput[i].id %>" name="<%= formInput[i].name %>" rows="<%= formInput[i].rows %>" <% if(formInput[i].required) { __append('required') } %>></textarea>
          <% } %>
        </div>
        <% } %>
        <button type="submit" name="action" value="send">Submit</button>
      </form>
  </section>
</body>
</html>